<%= form_for(list, :html => {:class => "form"}) do |f| %>
  <div class="input">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input">
    <%= f.label :description %>
    <%= f.description_field :description %>
  </div>
  <%= f.submit %>
<% end %>